/*重製網頁*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*製作一個滿版容器*/
.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*TOP BAR*/
.header {
    display: flex;
    flex: 1;
    background-color: rgb(96, 82, 156);
    width: 100%;
    height: 10%;
}
.box{
    flex: 20;
}
.sidebar_toggle_box{
    margin: 30px;
}
.datetime {
    color: aliceblue;
    margin: 30px;
    text-align:left;
    flex: 3;
}
.BackToHome_box{
    margin: 30px;
}

/*BODY*/
.body {
    display: flex;
    flex: 9;
    width: 100%;
    height: 90%;
    flex-direction: row;
}
.sidebar {
    flex: 1;
    background-color: rgb(205, 184, 241);
    text-align:center;
}
.main {
    flex: 10;
    background-color: rgb(250, 250, 250);
    color: brown;
    text-align:center
}




/*Sidebar中添加的屬性*/
ul {
    /* 清除list圓點 */
    list-style: none;
}
#list{
    /* 給list底色 */
    margin: 0;
    border: 0;
    padding: 0;
    margin: 15;
}

/* 隱藏列表 */
#list > ul li ul{
    display: none;
}